.sb-chapter {
	width: 100%;
	transition: 0.3s;

	&:focus {
		background-color: #c10f1a;
		color: white;
		.sbc-icon,
		.sbc-btn {
			filter: invert(0);
		}
		.sbc-title {
			color: white;
		}
	}
}

.sbc-icon {
	height: 24px;
}
.sbc-btn {
	height: 10px;
}
.sbc-title {
	font-size: 16px;
	font-weight: normal;
	width: 306px;
}
