input[type='radio'] {
	display: absolute;
	opacity: 0;
	position: absolute;
	pointer-events: none;
}

input[type='radio']:checked + .radio-btn {
	border: 1px solid #c10f1a;
}

input[type='radio']:not(:checked) + .radio-btn {
	border: 1px solid #23232333;
}

.c6-btn {
	border: 1px solid #c10f1a;
}
.c6-input {
	border: 1px solid #23232333;
}
