input[type='radio'] {
	display: none;
}

input[type='radio']:checked + .radio-btn {
	border-color: #c10f1a;
}

input[type='radio']:not(:checked) + .radio-btn {
	border-color: #23232333;
}
.c6-btn {
	border: 1px solid #c10f1a;
}
.c6-input {
	border: 1px solid #23232333;
}
